@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    height: auto;
    background: CornFlowerBlue;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
        -30px 0px 40px rgba(0, 0, 0, 0.2);
}

.edit-password {
    background-color: #fff;
    text-align: center;
    color: #00498D;
    margin: 0;
    padding-bottom: 2px;
}

.edit-password h1 {
    font-size: 2rem;
    margin: auto;
    background: #00498D;
    color: #fff;
}

.edit-password h2 {
    font-size: 1rem;
    font-style: italic;
    padding-left: 2px;
    padding-right: 4px;
}

.edit-password-form {
    background: lightskyblue;
    margin: 10px 10px;
    align-items: center;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 20px;
}

label {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2;
}

input {
    height: 20px;
    width: 80vw;
    border-radius: 15px;
}

.btn-currentpwd {
    display: inline-block;
}

.btnVerify {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; 
    margin-top: 10px;
    height: 40px;
    width: 200px;
    padding-top: 2px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
    background: deepskyblue;
    transition: 0.3s;
}

.btnVerify:hover {
    background: royalblue;
    color: yellow;
}

.fa-eye {
    height: 40px;
    width: 40px;
    background:deepskyblue;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.fa-eye:hover {
    background: royalblue;
    color: yellow;
}

.btn-newpwd {
    display: inline-block;
}

.btnChange {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; 
    margin-top: 10px;
    height: 40px;
    width: 200px;
    padding-top: 2px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
    background: deepskyblue;
}

.btnChange:hover {
    background: royalblue;
    color: yellow;
}

center {
    width: 83vw;
}

footer {
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
    margin: auto;
    color: #333;
    line-height: 0.5;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

.social-media {
    margin-bottom: 50px;
}

.fab {
    height: 30px;
    width: 50px;
    padding-top: 15px;
    border-radius: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: lightskyblue;
    color: white;
}

.fa-discord {
    background: black;
    color: #fff;
}

.fa-microsoft {
    background: #fff;
    color: royalblue;
}

.fa-instagram {
    background: hotpink;
    color: #fff;
}

@media(min-width:500px) {

    main{
        overflow-x: hidden;
    }

    .edit-password h1 {
        margin-top: 10px;
        font-size: 3rem;
    }
    
    .edit-password h2 {
        font-size: 2rem;
    }

    input {
        height: 40px;
        width: 60.5vw;
        border-radius: 15px;
        font-size: 2rem;
    }

    .btn-currentpwd {
        width: 62vw;
    }

    .btnVerify {
        font-size: 1.8rem;
        height: 80px;
        width: 350px;
    }

    .fa-eye {
        height: 80px;
        font-size: 1.8rem;
        width: 80px;
        border-radius: 10px;
    }

    .btn-newpwd {
        width: 62.5vw;
    }

    .btnChange {
        font-size: 1.8rem;
        height: 80px;
        width: 350px;
    }

    .social-media {
        margin-bottom: 0px;
    }

    .fab:hover {
        background: transparent;
        color: yellow;
    }
}

@media(min-width:px) {

}
